/*
 * The Broad Institute
 * SOFTWARE COPYRIGHT NOTICE AGREEMENT
 * This software and its documentation are copyright 2012 by the
 * Broad Institute/Massachusetts Institute of Technology. All rights are
 * reserved.
 *
 * This software is supplied without any warranty or guaranteed support
 * whatsoever. Neither the Broad Institute nor MIT can be responsible for its
 * use, misuse, or functionality.
 */
body { padding-bottom: 40px; font-size: 12px; }
footer { font-size: 10px; text-align: center; padding-top: 20px; }

/* Override Bootstrap's opinion that links should not be underlined. */
a { text-decoration: underline; color: #0088CC; }
a.external{background-image:url("/Mercury/images/external-link.gif");background-position:right center;background-repeat:no-repeat;display:inline;padding:0 20px 0 0;}

label, input, button, select, textarea { font-size: 12px }

#ajaxStatus_start { background-color: #0088CC; color: #ffffff; left: 0; padding: 5px; position: fixed; top: 0; left: 50% }

/* Override PrimeFaces's Bootstrap theme opinion that links in widgets should be default text color. */
.ui-widget-content a { color: #0088CC; !important }

/* Make p:autoComplete's input field a little wider to fit longer watermarks. */
.ui-autocomplete-multiple .ui-autocomplete-input-token input {  width: 500px; }

.ui-autocomplete-multiple-container { width: 480px; overflow: visible }

/* Tighten vertical spacing of Bootstrap horizontal forms. */
.form-horizontal .control-group { margin-bottom: 12px; clear:both; }

/* Right-justify p:dataTable content. E.g.: <h:outputText value="..." styleClass="dataTable-align-right"/> */
.ui-datatable-data td .align-right { float: right; }

/* Change error label style to more closely match Bootstrap. */
label.ui-state-error, .ui-widget-content label.ui-state-error { background: white; color: #B94A48 }

/* Fix bug with PrimeFaces Bootstrap theme: http://forum.primefaces.org/viewtopic.php?f=9&t=25031 */
.ui-widget-content input.ui-state-error, .ui-widget-content textarea.ui-state-error, .ui-widget-content .controls .ui-state-error { color: black; }

.controls .ui-message-error, .controls .ui-message-info { display: inline-block; }

.pass-section { font-weight: bold; }
.pass-label { font-style: italic; padding-right: 10px; }
.pass-data { }

.view-horizontal .control-group { margin-bottom: 20px; clear:both; *zoom: 1;   }
.view-horizontal .control-label { float: left; width: 160px; text-align: right; }

/* Note, do not put heights here because it makes fields overlap! use padding if you need better separation **/
.view-horizontal .controls { padding-left: 3px; padding-right: 3px; border-width: 1px; display: inline-block; margin-left: 15px; padding-bottom: 5px; }
.view-horizontal .tall-controls { padding-left: 3px; padding-right: 3px; border-width: 1px; display: inline-block; margin-left: 15px; padding-bottom: 5px; }
.view-horizontal .control-group { margin-bottom: 1px; clear:both; }

.form-readonly .control-group { margin-bottom: 0px; }
.form-value { font-size: 12px; padding: 5px 7px; }

.hide, .ui-datatable .ui-filter-column .hide { display: none; visibility: hidden; }

.label-form { color: #909090 }

.ac-dropdown-text { font-size: small; }
.ac-dropdown-subtext { font-size: smaller; font-style: italic; }

.form-fieldset {width:300px;margin-top:5px}

fieldset legend {display:block;width:55px;text-indent:3px;margin-right:10px;margin-left:10px;font-size:12px;line-height:10px;color:#333;border:0;padding:0}
fieldset {margin-top:10px;width:325px;border:1px solid #CCC}
fieldset .ui-chkbox {margin-left:5px}

.entry-help{color:#999;margin-left:10px}

.summary-list li {font-size:smaller;font-weight:400}
.summary-list div {background-color:#f5f5f5;text-align:left;border-style:none}

.threecolumn {-moz-column-count:3;-webkit-column-count:3;-moz-column-gap:2em;-webkit-column-gap:2em;-moz-column-rule-style:solid;-moz-column-rule-color:#fff;-moz-column-rule-width:2px;-webkit-column-rule-style:solid;-webkit-column-rule-color:#fff;-webkit-column-rule-width:2px}
.fourcolumn {-moz-column-count:4;-webkit-column-count:4;-moz-column-gap:2em;-webkit-column-gap:2em;-moz-column-rule-style:solid;-moz-column-rule-color:#fff;-moz-column-rule-width:2px;-webkit-column-rule-style:solid;-webkit-column-rule-color:#fff;-webkit-column-rule-width:2px}

.ui-icon-check {
    background-color: #0081C2;
}

.b-commandButton { padding: 1px; } /* overlay is just slightly too small; make it bigger */
.b-commandButton .blockOverlay { background: white; opacity: 0.5; } /* Bootstrap says to fade disabled buttons by 50% */

.dataTables_filter { float: left; }
.dataTables_filter input { font-size: small; height: 14px; }
.dataTables_wrapper { width: 98%; }

section { margin-left: 10px; }

.page-title { height: 20px; margin-right: 10px; font-size: 12pt; color: gray; border-top-right-radius: 10px; border-top-left-radius: 10px; border: 2px solid lightgray; text-indent: 5px; background-color: #ececec; }
.page-body { border: 2px solid lightgray; border-top-width: 0; padding-top: 10px; padding-left: 4px;  margin-right: 10px; padding-bottom: 40px; }

.defaultText { }
.defaultTextActive { color: #A1A1A1; font-style: italic; }

/* jquery date picker */
.ui-datepicker-trigger {
    width: 19px;
    height: 19px;
    vertical-align: top;
    margin-top: 2px;
}

/* multi-check box count indicator */
.checkedCount {
    font-size:xx-small;
    vertical-align: super;
    margin-left: 2px;
}