<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

    <!-- BEGIN for JBoss AS 7 -->

    <!-- JAX-RS -->

    <servlet>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <!-- END for JBoss AS 7 -->

    <context-param>
        <param-name>resteasy.scan.resources</param-name>
        <!-- we don't scan for test performance reasons.  use resteasy.resources explicitly instead. -->
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>resteasy.resources</param-name>
        <!-- comma separated list of jax-rs resource classes -->
        <param-value>
            org.broadinstitute.gpinformatics.mercury.boundary.sample.ClinicalResource
        </param-value>
    </context-param>
    <context-param>
        <param-name>resteasy.providers</param-name>
        <param-value>
            org.broadinstitute.gpinformatics.infrastructure.jaxrs.JacksonConfigurator,
            org.broadinstitute.gpinformatics.infrastructure.jaxrs.CatchAllExceptionMapper,
            org.broadinstitute.gpinformatics.infrastructure.jaxrs.EJBExceptionMapper
        </param-value>
    </context-param>

    <security-constraint>
        <web-resource-collection>
            <!-- Defined back during the CRSP project, this separate web.xml and security constraint allows the rest
            of Mercury to force authentication over HTTPS while allowing the rest services to not have authentication
            -->
            <web-resource-name>UnAuthenticatedRestArea</web-resource-name>
            <url-pattern>/rest/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>User must be logged in</description>
            <role-name>CRSP-Mercury-WebServiceUser</role-name>
        </auth-constraint>
        <!--  By defining the user-data-constraint, we make use of the redirect setting on JBOSS.  With out this,
          we would have to redirect the request utilizing the SecurityFilter -->
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>crowd_custom_realm</realm-name>
    </login-config>

    <!--  Even though there is nothing to cache, we need access to the ServletContext through some means, either this
    filter or another implemented in the application (Authorization, Security)-->
    <filter>
        <filter-name>CacheFilter</filter-name>
        <filter-class>org.broadinstitute.gpinformatics.athena.presentation.filters.CacheFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CacheFilter</filter-name>
        <url-pattern>/ignored/*</url-pattern>
    </filter-mapping>

    <!--<filter-mapping>-->
        <!--<filter-name>SecurityFilter</filter-name>-->
        <!--<url-pattern>/rest/*</url-pattern>-->
    <!--</filter-mapping>-->


    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

</web-app>