<module xmlns='urn:jboss:module:1.1' name='com.atlassian.crowd'>
  <resources>
    <resource-root path='CrowdJaasLoginModule-2.0.jar' />
    <resource-root path='activation-1.1.jar' />
    <resource-root path='annotations-3.0.0.jar' />
    <resource-root path='asm-5.0.2.jar' />
    <resource-root path='asm-commons-5.0.2.jar' />
    <resource-root path='asm-tree-5.0.2.jar' />
    <resource-root path='atlassian-cookie-tools-3.2.4.jar' />
    <resource-root path='commons-codec-1.3.jar' />
    <resource-root path='commons-collections-3.2.2.jar' />
    <resource-root path='commons-fileupload-1.3.1.jar' />
    <resource-root path='commons-httpclient-3.1-atlassian-2.jar' />
    <resource-root path='commons-io-2.2.jar' />
    <resource-root path='commons-lang3-3.4.jar' />
    <resource-root path='commons-logging-1.0.4.jar' />
    <resource-root path='crowd-integration-api-2.9.3.jar' />
    <resource-root path='crowd-integration-client-common-2.9.3.jar' />
    <resource-root path='crowd-integration-client-soap-2.9.3.jar' />
    <resource-root path='ehcache-2.9.0.jar' />
    <resource-root path='embedded-crowd-api-2.9.3.jar' />
    <resource-root path='freemarker-2.3.19.jar' />
    <resource-root path='guava-18.0.jar' />
    <resource-root path='javassist-3.11.0.GA.jar' />
    <resource-root path='jaxen-1.1-beta-9.jar' />
    <resource-root path='jsr305-3.0.0.jar' />
    <resource-root path='log4j-1.2.16.jar' />
    <resource-root path='ognl-3.0.6.jar' />
    <resource-root path='slf4j-api-1.7.7.jar' />
    <resource-root path='slf4j-log4j12-1.7.21.jar' />
    <resource-root path='stax-utils-20040917.jar' />
    <resource-root path='struts2-core-2.3.20.1.jar' />
    <resource-root path='wsdl4j-1.6.1.jar' />
    <resource-root path='wstx-asl-3.2.0.jar' />
    <resource-root path='xfire-aegis-1.2.6.jar' />
    <resource-root path='xfire-core-1.2.6.jar' />
    <resource-root path='xfire-java5-1.2.6.jar' />
    <resource-root path='xfire-jsr181-api-1.0-M1.jar' />
    <resource-root path='xwork-core-2.3.20.1.jar' />
  </resources>
  <dependencies>
    <module name='javax.api' />
    <module name='org.picketbox' />
    <module name='sun.jdk' />
  </dependencies>
</module>