<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
    <!-- Weld Probe (Why won't it disable?!)
    <context-param>
        <param-name>org.jboss.weld.development</param-name>
        <param-value>false</param-value>
    </context-param> -->

    <!-- JAX-RS -->
    <servlet>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>resteasy.role.based.security</param-name>
        <param-value>true</param-value>
    </context-param>

    <!-- Stripes -->
    <servlet>
        <servlet-name>StripesDispatcher</servlet-name>
        <servlet-class>net.sourceforge.stripes.controller.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>StripesDispatcher</servlet-name>
        <url-pattern>*.action</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StripesDispatcher</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>JavaScriptServlet</servlet-name>
        <servlet-class>org.owasp.csrfguard.servlet.JavaScriptServlet</servlet-class>
        <init-param>
            <param-name>source-file</param-name>
            <param-value>WEB-INF/csrfguard.js</param-value>
        </init-param>
        <init-param>
            <param-name>inject-into-forms</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>inject-into-attributes</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>domain-strict</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>referer-pattern</param-name>
            <param-value>.*localhost.*</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>JavaScriptServlet</servlet-name>
        <url-pattern>/Owasp.CsrfGuard/JavaScriptServlet</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.github.pukkaone.jsp.EscapeXmlELResolverListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.owasp.csrfguard.CsrfGuardServletContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.owasp.csrfguard.CsrfGuardHttpSessionListener</listener-class>
    </listener>
    <context-param>
        <param-name>Owasp.CsrfGuard.Config</param-name>
        <param-value>WEB-INF/csrfguard.properties</param-value>
    </context-param>
    <context-param>
        <param-name>Owasp.CsrfGuard.Config.Print</param-name>
        <param-value>false</param-value>
    </context-param>
    <!-- END for JBoss AS 7 -->

    <security-constraint>
        <web-resource-collection>
            <!--
            This block helps enforce that all rest calls are expected as either a GET or a POST request.
            -->
            <web-resource-name>UnAuthenticatedRestArea</web-resource-name>
            <url-pattern>/rest/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <!--
            By defining the user-data-constraint, we make use of the redirect setting on JBOSS, reducing the chance
            that a request may be rendered over an non secure port.  With out this, we would have to redirect the
            request utilizing the SecurityFilter which would be a bit too late if security is truly a concern
          -->
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <!--
           This constraint is meant to represent all traffic coming into the Mercury application.  We define this to
           not only assist us in retrieving a principal (User login info) during authentication, but also to assist
           the configuration of a server side redirect for HTTPS.  The User data Constraint is necessary for JBOSS
           to successfully redirect a non secure request to a secure request and have the application retrieve it.
        -->
        <web-resource-collection>
            <web-resource-name>SECURE</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <!--  By defining the user-data-constraint, we make use of the redirect setting on JBOSS.  With out this,
          we would have to redirect the request utilizing the SecurityFilter -->
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <!-- https://issues.jboss.org/browse/ARQ-1426
                Unable to force Arquillian tests to redirect to ssl, so we are creating a hole to allow arquillian
                tests to still utilize http when initiating.

                This constraint is removed from web.xml for Production builds. See the pom.xml Profile PROD.
            -->
            <web-resource-name>ArquillianTestRunnerAccess</web-resource-name>
            <url-pattern>/ArquillianServletRunner</url-pattern>
        </web-resource-collection>
        <!--  By defining the user-data-constraint, we make use of the redirect setting on JBOSS.  With out this,
              we can guarantee that Arquillian supported tests will not redirect to the SSL port-->
    </security-constraint>


    <welcome-file-list>
        <welcome-file>/security/login.jsp</welcome-file>
    </welcome-file-list>

    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>crowd_custom_realm</realm-name>
        <form-login-config>
            <form-login-page>/security/login.jsp</form-login-page>
            <form-error-page>/security/login.jsp</form-error-page>
        </form-login-config>
    </login-config>

    <filter>
        <filter-name>CacheFilter</filter-name>
        <filter-class>org.broadinstitute.gpinformatics.athena.presentation.filters.CacheFilter</filter-class>
    </filter>

    <filter>
        <filter-name>GZipFilter</filter-name>
        <filter-class>org.broadinstitute.gpinformatics.athena.presentation.filters.GZipFilter</filter-class>
    </filter>

    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>org.broadinstitute.gpinformatics.mercury.presentation.security.AuthorizationFilter</filter-class>

        <init-param>
            <param-name>error_page</param-name>
            <param-value>/security/authorization_error.jsp</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>GlobalPropertiesFilter</filter-name>
        <filter-class>org.broadinstitute.gpinformatics.mercury.presentation.GlobalPropertiesFilter</filter-class>
    </filter>

    <filter>
        <display-name>Stripes Filter</display-name>
        <filter-name>StripesFilter</filter-name>
        <filter-class>net.sourceforge.stripes.controller.StripesFilter</filter-class>
        <init-param>
            <param-name>ActionResolver.Packages</param-name>
            <param-value>org.broadinstitute.gpinformatics.athena.presentation,
                org.broadinstitute.gpinformatics.mercury.presentation
            </param-value>
        </init-param>
        <init-param>
            <param-name>Extension.Packages</param-name>
            <param-value>com.samaxes.stripes.inject,org.broadinstitute.gpinformatics.infrastructure.presentation
            </param-value>
        </init-param>
        <init-param>
            <param-name>ActionBeanContext.Class</param-name>
            <param-value>org.broadinstitute.gpinformatics.mercury.presentation.CoreActionBeanContext</param-value>
        </init-param>
        <init-param>
            <param-name>
                LocalizationBundleFactory.ErrorMessageBundle
            </param-name>
            <param-value>StripesResources</param-value>
        </init-param>
        <init-param>
            <!-- need 20M for plates of molecular indexes -->
            <param-name>FileUpload.MaximumPostSize</param-name>
            <param-value>20mb</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CacheFilter</filter-name>
        <url-pattern>/images/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CacheFilter</filter-name>
        <url-pattern>/resources/scripts/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CacheFilter</filter-name>
        <url-pattern>/resources/css/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CacheFilter</filter-name>
        <url-pattern>*.ico</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>GZipFilter</filter-name>
        <url-pattern>/resources/scripts/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>GZipFilter</filter-name>
        <url-pattern>/resources/css/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>StripesFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>StripesFilter</filter-name>
        <servlet-name>StripesDispatcher</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <servlet-name>StripesDispatcher</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>/rest/external/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>GlobalPropertiesFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>GlobalPropertiesFilter</filter-name>
        <url-pattern>*.action</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>CSRFGuard</filter-name>
        <filter-class>org.owasp.csrfguard.CsrfGuardFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CSRFGuard</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CSRFGuard</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>

    <!-- session-timeout is set in jboss-web.xml -->

    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>

</web-app>
