<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">

    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>#{theme.theme}</param-value>
    </context-param>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <!-- for GlassFish -->
    <listener>
        <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
    </listener>

    <listener>
        <listener-class>
            com.sun.xml.ws.transport.http.servlet.WSServletContextListener
        </listener-class>
    </listener>

    <servlet>
        <description>JAX-WS endpoint</description>
        <display-name>The JAX-WS servlet</display-name>
        <servlet-name>jaxws</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>jaxws</servlet-name>
        <url-pattern>/PMBridge</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>jaxws</servlet-name>
        <url-pattern>/SampleKit</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>rest</display-name>
        <servlet-name>rest</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>rest</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/rest</param-value>
    </context-param>
    <context-param>
        <param-name>resteasy.scan.resources </param-name>
        <!-- we don't scan for test performance reasons.  use resteasy.resources explicitly instead. -->
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>resteasy.resources</param-name>
        <!-- comma separated list of jax-rs resource classes -->
        <param-value>
            org.broadinstitute.sequel.boundary.zims.IlluminaRunResource,
            org.broadinstitute.sequel.boundary.vessel.RackOfTubesResource,
            org.broadinstitute.sequel.boundary.labevent.BettalimsMessageResource
        </param-value>
    </context-param>

    <!-- for JBoss AS 7 -->
<!--
    <servlet>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
-->
    <security-role>
        <role-name>Sequel-Admins</role-name>
    </security-role>
    <security-role>
        <role-name>Sequel-LabUsers</role-name>
    </security-role>
    <security-role>
        <role-name>Sequel-LabManagers</role-name>
    </security-role>
    <security-role>
        <role-name>Sequel-ProjectManagers</role-name>
    </security-role>
    <security-role>
        <role-name>Sequel-Developers</role-name>
    </security-role>



    <welcome-file-list>
        <welcome-file>/index.xhtml</welcome-file>
    </welcome-file-list>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>crowd_custom_realm</realm-name>
        <form-login-config>
            <form-login-page>/security/login.xhtml</form-login-page>
            <form-error-page>/security/login_error.xhtml</form-error-page>
        </form-login-config>
    </login-config>

    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>org.broadinstitute.sequel.presentation.security.AuthorizationFilter</filter-class>

        <init-param>
            <param-name>error_page</param-name>
            <param-value>/security/authorization_error.xhtml</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
